# Виртуальные окружения
venv/
env/

# Логи
*.log

# Git
.git
.gitignore

# Настройки IDE
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Node.js зависимости (если есть)
node_modules/

# Секретные файлы
.env
.env.*
