# Python
__pycache__/
*.py[cod]
*.log

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django migrations (НЕ игнорируем полностью!)
**/migrations/*.py
!**/migrations/__init__.py
