{% extends 'base.html' %}
{% load static %}

{% block blocktitle %}О нас - VODOROD.OSH{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1>О нас</h1>
        
        <div class="about-content">
            <h2>VODOROD.OSH</h2>
            <p>Мы являемся ведущей компанией в сфере автомобильных услуг в городе Ош.</p>
            
            <h3>Наша миссия</h3>
            <p>Предоставлять качественные автомобильные услуги нашим клиентам с максимальным комфортом и надежностью.</p>
            
            <h3>Наши ценности</h3>
            <ul>
                <li>Качество обслуживания</li>
                <li>Надежность</li>
                <li>Профессионализм</li>
                <li>Клиентоориентированность</li>
            </ul>
            
            <h3>Почему выбирают нас?</h3>
            <p>Более 3 лет успешной работы на рынке автомобильных услуг Кыргызстана.</p>
        </div>
    </div>
</main>
{% endblock %}